<h1>All Tasks</h1>

<% @tasks.each do |task| %>
  <div>
    <h3><a href="/tasks/<%= task.id %>"><%= task.title %></a></h3>
    <p><%= task.description %></p>
    <a href="/tasks/<%= task.id %>/edit" class="editor">Edit</a>
    <form action="/tasks/<%= task.id %>" method="POST" class="deleter">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete"/>
    </form>
  </div>
<% end %>

<button><a href='/'>Home</a></button>
